*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(black-and-white-geometric-pattern-l9jba7axvm4bjcfk.jpg);
}

.container{
    display: flex;
    justify-content: center;
    width: 420px;
    height: 500px;
    margin: auto;
    margin-top: 95px;
    box-shadow: 8px 10px 12px rgb(195, 22, 152);
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 500px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.form h1{
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 45px;
}

.box{
    padding: 12px;
    width: 80%;
    margin: 20px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: rgb(195, 22, 152);
}

.form a{
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

.form a:hover{
    color: rgb(195, 22, 152);
}
